*{
    background-color: rgb(217, 161, 93);
}

body{
    /* margin: 0 auto;  */
    text-align: center;
}
img{
    border-radius: 5%;
} 

div{
    margin: auto;
    width: 50%;
    padding: 10px;
}

ul{
    list-style: none;
    gap: 24px;
}

div.ing{
    text-align: left;
}